.image__header {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 40px;

}

.table__cell--header {
    background-color: rgb(42, 151, 165);
    color: rgb(107, 32, 32);
    font-weight: bolder;
}

