.main__Table {
    margin: auto;
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.main__tableCell {
    border: 1px double rgb(133, 23, 23);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.main__footer {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    
}

