.nav {
    margin: auto;
    
}

.nav__list {
    list-style: none;
    padding: 20px;
}



.nav__link {
    color: rgb(22, 21, 21);
    background-color: rgb(199, 204, 209);
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-decoration: dotted;
    line-height: 2;
    padding: 5px 10px;
}