html {
    box-sizing: border-box;
}

*,
::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.list {
    list-style-type: none;
    max-width: 300px;
    margin: auto;
    margin-bottom: 50px;
}

.section__title {
    color: rgb(119, 35, 35);
    font-family: "Lato", sans-serif;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}

.article__title {
    color: rgb(119, 35, 35);
    font-family: "Lato", sans-serif;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}

.section__paragraph {
    background-color: rgb(204, 204, 197);
    font-family: "Lato", sans-serif;
    max-width: 500px;
    border-width: 10px 0px;
    border-style: ridge;
    border-color: rgba(67, 77, 68, 0.397);
    border-radius: 20%;
    padding: 30px;
    padding-left: 30px;
    margin: auto;
    box-shadow: 4px 4px 10px;

}

.article__paragraph {
    background-color: rgb(204, 204, 197);
    font-family: "Lato", sans-serif;
    max-width: 500px;
    border-width: 10px 0px;
    border-style: ridge;
    border-color: rgba(67, 77, 68, 0.397);
    border-radius: 20%;
    padding: 30px;
    padding-left: 30px;
    margin: auto;
    box-shadow: 4px 4px 10px;

}


.conteinor {
    color: rgb(119, 35, 35);
    font-family: "Lato", sans-serif;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    font-size: 25px;
}


.table {
    margin: auto;
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.table__cell {
    border: 1px double rgb(133, 23, 23);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__row:nth-child(even) {
    background: #f1eded;
}

.table__row:hover {
    background: #b3afaf;
}

.table__conteinor {
    overflow-x: auto;
}

.dark {
    color: rgb(148, 62, 62);
    background-color: rgb(2, 2, 2);
}


.button__theme {
    background-color: rgb(240, 229, 229);
    margin: 20px auto;
    border-radius: 20px;
    padding: 2px;
    transition: 0.3s;
    box-shadow: 4px 4px 10px;
}

.footer {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}